<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Font_Surprise_Offer_Title</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Refresh_Header_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_Home_Dock_Redeem_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>28</integer>
	</dict>
	<key>Font_Home_Dock_Cell_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_LoadMore_Footer_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_Card_Group_Title</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>17</integer>
		<key>Color</key>
		<string>#6D2728</string>
	</dict>
	<key>Font_CardShelf_No_Gifts</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_RedeemCard_Price</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
		<key>Color</key>
		<string>#646464</string>
	</dict>
	<key>Font_Redeem_Card_Email</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Redeem_Card_Email_Tips</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_Redeem_Card_Order</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Redeem_Card_Order_Tips</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_Redeem_Card_Cool_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Redeem_Card_Paypal_Alert_Title</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_Redeem_Card_Paypal_Alert_Message</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>14</integer>
		<key>Color</key>
		<string>#969696</string>
	</dict>
	<key>Font_Redeem_Card_Paypal_Alert_Button_Confirm</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
		<key>Color</key>
		<string>#036b2d</string>
	</dict>
	<key>Font_Redeem_Card_Paypal_Alert_Button_Cancel</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
		<key>Color</key>
		<string>#825700</string>
	</dict>
	<key>Font_Red_Dot_Count</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Card_Info_Area</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>17</integer>
	</dict>
	<key>Font_Card_Info_Price</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_Card_Info_Country</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Card_Info_Name</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_CoinReminder_Coins_Count</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_CoinReminder_Statistics</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_CoinReminder_Go_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_CoinReminder_Reminder</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_Invitation_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>20</integer>
	</dict>
	<key>Font_Invitation_Title_Label_Large</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>30</integer>
	</dict>
	<key>Font_Invitation_Bonus_Hint_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>17</integer>
	</dict>
	<key>Font_Invitation_Code_Hint_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Invitation_Code_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>20</integer>
	</dict>
	<key>Font_Invitation_History</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Invitation_Date</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Invitation_Device</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Invitation_Status</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Invitation_No_Record</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_Invitaion_Alert_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Invitaion_Alert_Email_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_Invitaion_Alert_Skip_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_Invitation_Input_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>22</integer>
	</dict>
	<key>Font_Invitation_Input_TextField</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_Invitation_Input_Go_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>20</integer>
	</dict>
	<key>Font_Invitation_Input_Skip_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>20</integer>
	</dict>
	<key>Font_Invitation_Social_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_LuckyDraw_Choose_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_LuckyDraw_Cool_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_LuckyDraw_Reward_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Settings_Name_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Settings_Header_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_Balance_Header_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Balance_Time_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Balance_From_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Balance_Change_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Balance_Amount_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Balance_No_Record</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_Order_Header_Mode_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Order_Cell_Mode_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Order_No_Record</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_CoinsView_Coins_Count_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_ZFCoinsView_Coins_Count_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_GameExtraChances_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_GameExtraChances_Play_Video_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_GameView_Times_Left_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_GameView_Current_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_LuckySpin_Start_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_News_Content_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_News_Bottom_Remind_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_News_No_Record</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_RateUs_ButtonLabel</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_RateUs_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_RateUs_Issue_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_Slot_Start_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>48</integer>
	</dict>
	<key>Font_SupriseKey_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_SupriseKey_Text_Filed</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_SupriseKey_Verify_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_SupriseKey_Remind_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_SupriseKey_ThirdPlatform_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>17</integer>
	</dict>
	<key>Font_Carousel_Game_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Carousel_Game_SubTitle_Available</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Carousel_Game_SubTitle_Cool</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Guide_Top_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>20</integer>
	</dict>
	<key>Font_Guide_Start_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_LocalNotification_Alert_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>22</integer>
	</dict>
	<key>Font_QuickHit_Hit_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>40</integer>
	</dict>
	<key>Font_QuickHit_Start_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_QuickHit_Statistic_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>30</integer>
	</dict>
	<key>Font_QuickHit_CountDown_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>30</integer>
	</dict>
	<key>Font_QuickHit_Game_CountDown_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>64</integer>
	</dict>
	<key>Font_RewardDisplay_Action_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_RewardDisplay_Remind_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_RewardDisplay_From_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_RewardDisplay_Confirm_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_RewardDisplay_Close_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_RewardDisplay_Content_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_RewardDisplay_Cutting_Remind_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Reward_Alert_NewGame_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Gentleman_Home_Hint_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Home_Satellite_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Home_Big_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Home_Chest_Title_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>15</integer>
	</dict>
	<key>Font_Home_Chest_Diamond_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Home_Chest_Free_Available_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>10</integer>
	</dict>
	<key>Font_Home_Chest_Free_Cool_Pre_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>8</integer>
	</dict>
	<key>Font_Home_Chest_Free_Cool_CD_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Home_Chest_Gift_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Home_Chest_Video_Cool_Pre_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>8</integer>
	</dict>
	<key>Font_Home_Chest_Video_Cool_CD_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>14</integer>
	</dict>
	<key>Font_Home_Chest_Video_Available_Diamond_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Home_Chest_Video_Not_Load_Subtitle</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Record_Segment_Balance_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_Record_Segment_Order_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_Checkin_Collect_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Checkin_DailyBouns_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Checkin_Rules_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Checkin_CurrentReward_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Checkin_DailyBouns_Day_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<string>16</string>
	</dict>
	<key>Font_Checkin_Item_Day_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>13</integer>
	</dict>
	<key>Font_Checkin_Item_Reward_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<string>17</string>
	</dict>
	<key>Font_Checkin_Go_Button</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_Checkin_SpecialOffer_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<string>24</string>
	</dict>
	<key>Font_Ad_AppName_Title</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<string>14</string>
	</dict>
	<key>Font_Retry_Button_Text</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>20</integer>
	</dict>
	<key>Font_GameRules_Title_Text</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>24</integer>
	</dict>
	<key>Font_GameRules_Content_Text_Big</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>18</integer>
	</dict>
	<key>Font_GameRules_Content_Text</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
	</dict>
	<key>Font_GameRules_Exhibition_Text</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
	</dict>
	<key>Font_Game_Energy_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>16</integer>
		<key>Color</key>
		<string>#ffffff</string>
	</dict>
	<key>Font_Game_Energy_Count_Down_Label</key>
	<dict>
		<key>Name</key>
		<string>CenturyGothic-Bold</string>
		<key>Size</key>
		<integer>12</integer>
		<key>Color</key>
		<string>#646464</string>
	</dict>
</dict>
</plist>
